@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* overflow: hidden;  /* This line prevents scrolling */
  background-color: #FAF9F6;
  font-family: 'IBM Plex Mono', monospace;
}
::-webkit-scrollbar {
  display: none;
}


.menutitle {
  width: fit-content;
  color: #818181;
}


.footerin {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.modalproduct{
  width: 60%;
  height: 70%;
}

.pdcard {
  background-color: #FAF9F6;
  border: 1px solid ;
  border-color: #B9B9B9;
}

.ckbtn {
  background-color: #F2EEE3;
}

.addcrt {
  background-color: #3B3B3B;
  color: #FAF9F6;
}

.inputCard {
  background-color: #F2EEE3;
  border-color:  #B9B9B9;
}

.colorinput {
  border-color:  #B9B9B9;
}

.quickbtn {
  background-color:#F2EEE3;
  border-color: #B9B9B9;
}

.topMenu {
  color: #818181;
}